*{
    margin: 0;
    padding: 0;
}
.all{
    border: solid black 5px;
    height: 100vh;
    background-color: #FEF5ED;
}

h1,h2,footer{
    font-family: 'Ubuntu', sans-serif;
}

.top{
    
}
.top h1{
    font-size: 100px;
    z-index: 1;
    position: absolute;
    top: auto;
    left: 5%;
}
.top img{
    clip-path: inset(20px 20px 20px round 30px);
}

.about{

}
.contents{

}





/*狭いPCブラウザやタブレット縦_まだ書いてない*/
@media(max-width:1024px)and(min-width:897px){

}
/* スマホ縦_まだ書いてない*/
@media all and (max-width:896px){
}
/*スマホ横_まだ書いてない*/
@media all and (max-width:480px){
}