*{
    margin: 0;
    padding: 0;
}
.all{
    border: solid black 5px;
    height: 100vh;
    color:#4B6587 ;
    border-color: #C8C6C6;
    background-color: #F7F6F2;
}

h1,h2,footer{
    font-family: 'Ubuntu', sans-serif;
}

.top{
    
}
.top h1{
    font-size: 100px;
}
.top img{
    clip-path: inset(20px 20px 20px round 30px);
    width: 100%;
    transition:0.5s;
}
.top img:hover{
transform: scale(1.1);
transition-duration: 0.3s;
}

.about{
/* flex-direction: row; */
}
.about video{
    width: 40%;
}
.about p{
    font-family: 'Sawarabi Gothic', sans-serif;
}
.contents{
width: 80%;
}
.content img{
    float: left;    
}
.tag img{
    width: 40vw;
    clip-path: inset(20px 20px 20px round 30px);
    transition:0.5s;
}
.tag img:hover{
transform: scale(1.1);
transition-duration: 0.3s;
}





/*狭いPCブラウザやタブレット縦_まだ書いてない*/
@media(max-width:1024px)and(min-width:897px){

}
/* スマホ縦_まだ書いてない*/
@media all and (max-width:896px){
}
/*スマホ横_まだ書いてない*/
@media all and (max-width:480px){
}